ul.bar1{
    background-color: white;
    padding: 10px;
    margin-top: -10px;
}
ul.bar1 li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    list-style-type: none;
    position: relative;
    float: left;
    left: 70%;
    width: 120px;
    margin-top: -10px;
}
ul.bar1 li:hover{
    color:red;
}
img{
    border-radius: 25px;
    padding: 20px;
    margin-left: 600px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo {
    display: block;
    width: 300px;
    padding: 0;
    left: calc(50% - 150px);
}

.top-menu {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',serif;
    font-size: 20px;
    font-weight: bolder;
    background-color:white;
    padding: 10px;
    color: white;
    margin-top: 0;

}

.container-center {
    width: 100%;
    color: black;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;    
}

.parent-menu {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none; /* Eliminați linia sub text */
    color: black; /* Textul este negru */
    font-weight: bold; /* Textul este bold */
    
}
.parent-menu a {
    text-decoration: none; /* Eliminați linia sub text */
    color: black; /* Textul este negru */
    font-weight: bold; /* Textul este bold */
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* Adăugați culoarea de fundal dorită */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 16px;
    text-align: center;
    width: 150px;
}

.parent-menu:hover .sub-menu {
    display: block;
}

.sub-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-menu li {
    padding: 10px;
}