ul.bar1{
    background-color: white;
    padding: 10px;
    margin-top: -10px;
}
ul.bar1 li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    list-style-type: none;
    position: relative;
    float: left;
    left: 70%;
    width: 120px;
    margin-top: -10px;
}
ul.bar1 li:hover{
    color:red;
}
img{
    border-radius: 25px;
    width: 200px;
    padding: 20px;
    margin-top: -57px;
    margin-left: 600px;
}
.navbar {
    margin-top: -70px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.bucatarie{
    float: center;
    overflow: hidden;
}
.baie{
    float: center;
    overflow: hidden;
}
.dormitor{
    float: center;
    overflow: hidden;
}
.livingroom{
    float: center;
    overflow: hidden;
}
.hol{
    float: center;
    overflow: hidden;
}
.bucatarie .bucatarieBtn, .baie .baieBtn , .dormitor .dormitorBtn , .livingroom .livingroomBtn, .hol .holBtn{
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.navbar a:hover, .bucatarie:hover .bucatarieBtn {
    background-color:black;
    color:white;
}
.baie:hover .baieBtn , .dormitor:hover .dormitorBtn, .livingroom:hover .livingroomBtn, .hol:hover .holBtn{
    background-color:black;
    color:white;
}
.columnBucatarie , .columnBaie, .columnDormitor, .columnLiving{
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: black;
    z-index: 1;
}
.bucatarie:hover .columnBucatarie, .baie:hover .columnBaie, .dormitor:hover .columnDormitor, .livingroom:hover .columnLiving{
    display: block;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    margin-left:30%;
    margin-top: -24px;
  }
.bucatarie, .baie, .dormitor, .livingroom, .hol {
    float: left;
  }
  
.bucatarie a, .baie a, .dormitor a, .livingroom a, .hol a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.columnBucatarie a , .columnBaie a, .columnDormitor a, .columnLiving a{
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
form.searchBtn input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px black;
    padding: 1px black;
    float: right;
    margin-top: -100px;
    margin-right: 240px;
    width: 150px;
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  form.searchBtn button{
    float: right;
    width: 40px;
    height: 37px;
    padding: 10px;
    background: white;
    color:black;
    font-size: 15px;
    border: 1px solid black;
    margin-top: -100px;
    margin-right: 200px;
    cursor:pointer;
  }
.shoppingCart button{
    float: right;
    width: 40px;
    height:40px;
    margin-top: -100px;
    margin-right: 100px;
    background-color: white;
  }
.favourite button{
    float: right;
    width: 40px;
    height:40px;
    margin-top: -100px;
    margin-right: 50px;
    background-color: white;
  }
.bar2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: black;
    padding: 3px;
    color: white;
    margin-top: 0;
  }
.row {
    display:flex;
  } 
.column {
    flex:33.33%;
    margin-top: 37px;
    margin-left:-39%;
  }
.quotes{
    margin-left: 90px;
}
